NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<dbname>?retryWrites=true&w=majority
JWT_SECRET=yourjwtsecret
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

# SMTP
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=
SMTP_PASSWORD=
FROM_EMAIL=noreply@rotary.com
FROM_NAME=Rotary Club
